<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsController</servlet-name>
        <servlet-class>controller.GetProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductDetailController</servlet-name>
        <servlet-class>controller.GetProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoController</servlet-name>
        <servlet-class>controller.ChangeInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcessController</servlet-name>
        <servlet-class>controller.CartProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmResetCodeController</servlet-name>
        <servlet-class>controller.ConfirmResetCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPasswordController</servlet-name>
        <servlet-class>controller.ConfirmPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogInController</servlet-name>
        <servlet-class>controller.AdminLogInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOutController</servlet-name>
        <servlet-class>controller.AdminLogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCustomerController</servlet-name>
        <servlet-class>controller.AdminManageCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>controller.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageProductsController</servlet-name>
        <servlet-class>controller.AdminManageProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageOrdersController</servlet-name>
        <servlet-class>controller.AdminManageOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateOrderController</servlet-name>
        <servlet-class>controller.AdminUpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetCustomerDetail</servlet-name>
        <servlet-class>controller.AdminGetCustomerDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProductController</servlet-name>
        <servlet-class>controller.AdminUpdateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsController</servlet-name>
        <url-pattern>/get-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductDetailController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfoController</servlet-name>
        <url-pattern>/change-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/add-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcessController</servlet-name>
        <url-pattern>/cart-process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmResetCodeController</servlet-name>
        <url-pattern>/confirmresetcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPasswordController</servlet-name>
        <url-pattern>/confirmpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogInController</servlet-name>
        <url-pattern>/AdminLogInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOutController</servlet-name>
        <url-pattern>/AdminLogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCustomerController</servlet-name>
        <url-pattern>/manage-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/delete-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageProductsController</servlet-name>
        <url-pattern>/manage-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageOrdersController</servlet-name>
        <url-pattern>/manage-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateOrderController</servlet-name>
        <url-pattern>/update-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetCustomerDetail</servlet-name>
        <url-pattern>/manage-customer-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProductController</servlet-name>
        <url-pattern>/manage-update-product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
